/***Base Font***/
html{
   font-size: 10px;
    overflow-x: hidden;
}
/***Base Font Test***/

body{
    font-size:1.3rem;
   font-family: 'Roboto', sans-serif;
    font-weight:normal;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    color: #382E2C;
}
