/* Browser Responsive Viewport Starts */

@media screen and (min-width:320px) and (max-width:767px){

  /* Customized Bootstrap starts */

  img.header-logo {
    padding-left: 1.1rem;
  }

  .navbar-toggler {
    margin-right: 1.5rem;
  }

  .navbar-nav {
    padding: 1rem 0 3rem;
  }

  .navbar-nav.login {
    padding: 1rem 0;
  }

  li.nav-item.logout {
    padding-left: 1.5rem;
  }

  .modal.show .modal-dialog {
    width: 100%!important;
  }

  /* Customized Bootstrap Ends */

  /* Login Starts */

  .login-page {
    margin: 9rem 2.7rem 12rem 2.7rem;
    padding: 3rem 0;
  }

  .login-container .body-container {
      padding: 3rem;
  }

  .mr-3 {
    margin-left: 0;
  }

  .form-group.pad-mid label {
    padding-top: 0;
  }

  /* Login Ends */

  /* Footer Starts */

  .footer-bg {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0 1.5rem;
  }

  .footer-logo {
    padding: 4rem 0 2rem;
    text-align: center;
  }

  .footer-bg .ml-auto {
    margin: auto;
  }

  .footer-bg .justify-content-end , .footer-bg .justify-content-end p.copyright {
    justify-content: center!important;
    text-align: center;
  }

  footer ul.un-bull li {
    display: inline-block;
  }

  /* Footer Ends */

}

@media screen and (min-width:768px) {

/* Customized Bootstrap starts */


.modal.show .modal-dialog {
  min-width: 700px;
}

/* Customized Bootstrap Ends */

  /* Footer Starts */

  .footer-bg {
    border-top-left-radius: 70% 12%;
    border-top-right-radius: 70% 12%;
  }

  .footer-logo {
    text-align: left;
  }

  .footer-bg .ml-auto {
    margin: 0;
  }

  .footer-bg .justify-content-end , .footer-bg .justify-content-end p.copyright {
    text-align: right;
  }

  footer ul.un-bull li {
    display: inline-block;
  }

  /* Footer Ends */

}


@media screen and (min-width:992px) {

}

@media screen and (min-width:1440px) {


}

/* Browser Responsive Viewport Ends */

@media (min-width: 1280px) and (max-width:1400px) {
  html {  font-size: 10px!important;
  }
  .login-page {
      padding: 15rem 0;
    }
}
@media (min-width: 1440px) and (max-width:1600px) {
  html {
    font-size: 10px!important;
  }
}
