
@import url("brand.css");

/* Customized Bootstrap starts */
.apipreview .modal-dialog.custom-width{
  min-width: 1000px !important;
}
.apipreview .modal-dialog.custom-width .modal-body{
  height: 400px !important;
  overflow-y: auto;
}
#toast-container{
  top: 7rem;
}
span.token.operator , span.token {
  margin-left: 0 !important;
}
.click-to-expand-wrapper.is-expandable{
  width: 100%;
 overflow-x: auto !important;
}
.pd-15{
  padding:15px !important;
}
.example-request pre p{
  color: #fff;
}
.api_preview_btn:hover{
  text-decoration: none !important;
}
span.token.operator, .example-request__snippet pre code{
  color:#fff !important;
}
.api-information .example-request__snippet pre code{
  color:#424242 !important;
}
.api-information  .example-request__snippet span {
  color:#424242 !important;
}
.rowitem{
  display:flex;
}
.rowitem div{
  margin:5px;
  line-height: 2.2rem;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  padding: 0;
  margin: 0 auto;
}

.navbar {
  padding: 0;
}

.row {
  margin: 0;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding:0;
}

.head-section {
  padding: 1.5rem 0;
  border-bottom: 1px solid #ACACAC;
}

img.header-logo {
  width: 140px;
}

li.nav-item {
  padding: 0 1.5rem;
  font-size: 1.4rem;
}

li.nav-item.active {
  font-weight: 700;
}

li.nav-item.logout {
  padding-left: 7.8rem;
}
li.nav-item.logout a{
  font-size:1.3rem;
}

li.nav-item.logout button {
  padding-left: 1.5rem 4.1rem;
  font-size: 1.3rem;
}

.login .btn {
  background: #5FCBEA;
  color: #fff;
  padding: 5px 1.8rem;
  font-size: 1.3rem;
}

.login .btn, .logout .btn-danger {
  border-radius: 8.8rem;
}

.form-group {
  padding-bottom: 3rem;
}

.form-control, .custom-select, textarea.form-control, .login-container .body-container button, .tox .tox-textarea, .tox .tox-textfield, .tox .tox-toolbar-textfield {
  border-radius: 5px!important;
  height: 40px;
  font-size: 1.3rem!important;
  padding: 1rem 2rem!important;
}

textarea.form-control {
  height: 160px;
}

.form-control, .custom-select {
  padding: 0 2rem;
}

.form-group.left-pad, .left-pad {
  padding-left: 0rem;
}

.form-group.right-pad, .right-pad {
  padding-right: 1.5rem;
}

.custom-select {
  /* background: url(../images/icons/create-template/dropdown.svg) no-repeat right 1rem center; */
  background: none;
}

.select-ct-1, .select-ct-2, .select-ct-3, .select-ct-4 {
  position: relative;
}

.select-ct-1::after, .select-ct-2::after, .select-ct-3::after, .select-ct-4::after {
  font-family: FontAwesome;
  content:"\f0d7";
  font-size: 2rem;
  position: absolute;
  top: 6px;
  right: 1.5rem;
  color: #A6A6A6;
  pointer-events: none;
}

.select-ct-2::after {
  top: 30px;
  right: 1.5rem;
}

.select-ct-4::after {
  color: #29576C;
  padding-right: 0;
}



/* {
<i class="fas fa-history"></i>
} */

.btn-blue-outline, .btn:hover.btn-blue-outline, .btn-blue-fill, .btn-red-outline, .btn:hover.btn-red-outline, .btn-orange-outline, .btn:hover.btn-orange-outline, .tox button.tox-button--secondary, .tox .tox-button, .tox button:hover.tox-button--secondary, .tox button:hover.tox-button, button.tox-button.tox-button--icon.tox-button--naked, button:hover.tox-button.tox-button--icon.tox-button--naked, .tox .tox-dialog__header .tox button.tox-button .tox-icon, .tox .tox-dialog__header .tox button:hover.tox-button .tox-icon {

  font-size: 1.3rem!important;
  border: 1px solid #5FCBEA;
  border-radius: 4rem!important;
  color: #5FCBEA;
  padding: 0.95rem 2.6rem!important;
  text-decoration: none;
  margin-left: 1rem;
}

.btn-blue-fill, .btn:hover.btn-blue-fill, .tox button.tox-button, .tox button:hover.tox-button {
  color: #fff!important;
  background: #5FCBEA!important;
  border: 1px solid #5FCBEA!important;
  padding: 0.95rem 3rem!important;
  text-decoration: none!important;
}

.tox .tox-dialog__header .tox button.tox-button .tox-icon, .tox .tox-dialog__header .tox button:hover.tox-button .tox-icon {
  color: black!important;
  background: none!important;
  padding: 0!important;
  text-decoration: none!important;
  border:none!important;
}



.btn-red-outline, .btn:hover.btn-red-outline, .tox button.tox-button--secondary, .tox button:hover.tox-button--secondary {
  border: 1px solid #E33D3D!important;
  color: #E33D3D!important;
  background: none!important;
  padding: 0.95rem 2.6rem!important;
}

.btn-orange-outline, .btn:hover.btn-orange-outline {
  border: 1px solid #EEA220;
  color: #EEA220;
}

.btn-green-fill, .btn:hover.btn-green-fill {
  color: #fff;
  background: #16A600;
  border: 1px solid #16A600;
  border-radius: 4rem;
}

a.edit {
  color: #29576C;
  text-decoration: none;
}

a.delete {
  color: #E33D3D;
  text-decoration: none;
}

.form-group {
  margin: 0;
}

.modal-dialog, .tox .tox-dialog {
  max-width: 700px;
}

.modal-content, .tox .tox-dialog {
  border-radius: 2.5rem!important;
  overflow: hidden;
  box-shadow: 10px 12px 18px #00000057;
}



.modal-header, .tox .tox-dialog__header {
  background: #E8E8E8!important;
  padding: 1rem 3rem!important;
}


.tox .tox-dialog__content-js {
  padding: 3rem 3rem 0;
}

.modal-title, .tox .tox-dialog__title {
  font-size: 1.6rem!important;
}

.modal-body, .modal-footer, .tox .tox-dialog__footer {
  padding: 1.7rem 3rem!important;
}


.tox .tox-dialog__body-content {
  padding:0!important;
}

.tox .tox-form__group {
  margin: 0!important;
  padding-bottom: 3rem!important;
}

.modal-body .form-group {
  padding:0;
}

.modal-body label, .tox .tox-label, .tox .tox-toolbar-label {
  font-size: 1.4rem !important;
  padding-bottom: 5px!important;
}

.modal-body .example-text {
  padding-top: 1rem;
}

.form-group.url {
  margin-bottom: 1.5rem;
}

.link-modal .btn.btn-blue-fill {
  margin-right: 0!important;
}

.link-modal .btn.btn-red-outline {
  margin-left: 0!important;
}








.tox .tox-dialog {
  max-width: 700px!important;
}

.tox .tox-label, .tox .tox-toolbar-label {

}

.tox:not([dir=rtl]) .tox-dialog__footer .tox-dialog__footer-end>*, .tox:not([dir=rtl]) .tox-dialog__footer .tox-dialog__footer-start>* {
  margin-left: 3rem!important;
}


.tox .tox-button--secondary {

}

.tox .tox-button {

}

.modal.show {
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
}

.modal.show .modal-dialog {
  max-width: 700px!important;
}

.btn.btn-blue-fill {
  margin-right: 1.5rem!important;
}

.btn.btn-red-outline {
  margin-left: 1.5rem!important;
}

.modal-header .close {
  padding: 0;
  margin: 0;
}

.close {
  font-size: 3rem;
  font-weight: 400!important;
}

/* Customized Bootstrap Ends */

/* Login Starts */

.login-page {
  padding: 15rem 0 23rem 0;
}

.login-container {
  border: 1px solid transparent;
  border-radius: 2.5rem;
  padding: 0;
  overflow: hidden;
  -webkit-box-shadow: 3px 1px 10px -1px rgba(0,0,0,0.28);
  -moz-box-shadow: 3px 1px 10px -1px rgba(0,0,0,0.28);
  box-shadow: 3px 1px 10px -1px rgba(0,0,0,0.28);
}

.login-container p {
  margin: 0;
}

.login-container .head {
  background: #29576C;
  color: #fff;
  font-size: 1.6rem;
  padding: 2.3rem 0;
  font-weight: 500;
}

.login-container .body-container {
  background: #F9F9F9;
  padding: 3rem 5rem;
}

.login-container .body-container, .login-container .body-container .login-check {
  color: #212529;
}

.login-container .body-container button, .login-container .body-container, .login-container .body-container .login-check {
  font-size: 1.3rem;
}

.login-check {
  padding-left: 0.5rem;
}
.login-container .body-container button{
    padding: 0rem !important;
    font-weight: 500;
  }
  .login-container .body-container button:hover{
      opacity:0.9;
    }
.login-container .body-container button {
  background: #E33D3D;
  width:100%;
}

.form-group.pad-0 {
  padding: 0;
}

.form-group.pad-15 {
  padding-bottom: 1.5rem;
}

.login-container .form-control, .login-container .body-container button {
  border-radius: 2rem;
}

.mr-3 {
  margin-left: 3rem;
}

.form-group.pad-mid label {
  padding-top: 1rem;
}

.form-group.pad-bottom {
  padding-bottom: 3rem;
}

/* Login Ends */

/* Create Template Starts */
.btn i{
    padding-right: 0.5rem;
}
i{
   padding-right: 0.5rem;
}
.template {
  padding: 4rem 1rem 0;
}

.template .head img, .btn-blue-outline img, .btn-blue-fill img, .btn-blue-fill img, .btn-red-outline img {
  width: 15px;
  height: 15px;
}

.template .head h3 {
  font-size: 1.6rem;
  color: #29576C;
  padding-bottom: 4rem;
  font-weight: 700;
}

.ct-pad {
  padding-bottom:5rem;
}

.template .body-container label, .custom-select {
  font-size: 1.3rem;
}

.template .body-container select {
  color: #A6A6A6;
}

.exclamation-text {
  font-size: 1.4rem;
  padding: 1rem 0 1.8rem;
  margin-left: 1rem;
}



.template .tox-tinymce {
  border-radius: 5px;
}

.template .tox .tox-toolbar__primary {
    /* background: url(data:image/svg+xml;charset=utf8,%3Csvg height='39px' viewBox='0 0 40 39px' width='40' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0' y='38px' width='100' height='1' fill='%23cccccc'/%3E%3C/svg%3E) left 0 top 0 #fff; */
    background-color: #fff;
    display: flex;
    flex: 0 0 auto;
    flex-shrink: 0;
    flex-wrap: wrap;
    padding: 1.5rem;
    background: none;
}

.template .tox .tox-toolbar__group {
    margin: 0;
}

.template .tox .tox-tbtn, .template .tox button:hover.tox-tbtn {
  font-size: 1.3rem;
  border: 1px solid #5FCBEA;
  border-radius: 4rem;
  color: #5FCBEA;
  padding: 0.7rem 2.6rem;
  text-decoration: none;
  width: 100%;
  height: 100%;
  background-color: white;
}


.template .tox-tbtn  .tox-icon{
  display: flex !important;
  align-items: center;
}
.template .tox .tox-tbtn svg, .template .tox button:hover.tox-tbtn svg {
  fill: #5FCBEA;
  margin-right: 5px;
}



.template .tox .tox-tbtn span.link {
  padding-left: 1.4rem;
}



/* Create Template Ends *

/* Manage Template Starts */

.mt-select select.custom-select {
  border-radius: 8px;
  color: #29576C;
  border: 1px solid #29576C;
}

.mt .form-check-input {
  position: unset;
  margin: auto;
}

.mt-list {
  border: 1px solid #29576C;
  border-radius: 2.5rem;
  overflow: auto;
}

.mt-list .table {
  margin-bottom: 0;
}
.thead-dark{
  background: #29576C;
}
.page-item.active .page-link {
  background-color: #29576C !important;
  border-color: #29576C !important;
}
.modal-header{
  align-items: center !important;
}
.modal-header h5{
  margin: 0;
  padding: 0;
  line-height: 0;
}
.mt-list .table .thead-dark th:first-child{
  border-left-color: transparent;
  }
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9 !important;
}
  .mt-list .table .thead-dark th:last-child{border-right-color: #29576c;}
.mt-list .table .thead-dark th {
  font-weight: 400 !important;
  background: #29576C;
  border: 1px solid #fff;
  border-top-color: transparent!important;
  border-bottom-color: transparent!important;
  white-space: nowrap;
    text-align: left;
}
.mt-list .table tr td:first-child{
  text-align: center;
}
.mt-list .table-bordered td, .table-bordered th {
  padding: 2rem;
  text-align: left;
}

.mt.template .mt-select {
    margin-left: 45.766667%!important;
}

.mt.template .col-md-3 {
  -ms-flex: 0 0 20%!important;
  flex: 0 0 20%!important;
  max-width: 20%!important;
}

.page-link {
  padding: 1.1rem 1.84rem;
  border: 1px solid #29576C;
  
}
.page-link:hover{
  background-color: #fff !important;
  border: 1px solid #29576C !important;
}
.mt-pagination ul {
  
  margin: 0;
  overflow: hidden;
  width: fit-content;
    margin-left: auto;
}

.mt-pagination li a {
  color: #29576C;
}

.mt-pagination li a.active {
  background: #29576C;
  color: #fff;
}

.success {
  color: #28a745;
}

/* Manage Template Ends */

/* Delivery Reports Starts */

.mr-none {
  margin-right: 0;
}

/* Delivery Reports Ends */


/* Footer Starts */

.footer-bg {
  background-color: #5fcbea;
  border-top-left-radius: 70% 12%;
  border-top-right-radius: 70% 12%;
  padding: 8rem 0 0;
}

.footer-logo {
  padding: 5rem 0;
}

.footer-logo img {
  width: 178px;
}

.icon {
  width: 44px;
  height: 44px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 4rem;
  margin: 0 0.5rem;
}

i.fa-facebook-f, .fa-linkedin-in, .fa-twitter {
  margin: auto;
  color: #5FCBEA;
  font-size: 1.6rem;
  padding: 1rem;
}

footer ul.un-bull {
  list-style: none;
  padding:2rem 0 1rem;
}

footer ul.un-bull li {
  display: inline;
  font-size:1.5rem;
}

footer ul.un-bull li a, span.vline {
  color: #ffffff;
}

a:hover .icon, footer ul.un-bull li a:hover {
  text-decoration: none;
}

.copyright {
  font-size:1.5rem;
  color: #ffffff;
  padding: 0 0 3rem 0;
}

/* Footer Ends */

/* Customized Bootstrap starts */

.attachFileSpan {
    color: #5FCBEA;
    cursor: pointer;
    width: 100%;
    text-align: right;
    border: 3px solid #5FCBEA;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    position: relative;
    top: -15px;
}
.send_message .col-form-label {
    align-items: center;
    height: 40px;
    display: flex;
}
.or_message {
    text-align: center;
    vertical-align: middle;
    display: grid !important;
} 
.file_upload{
  text-align: right;
}
.send_message .form-group.row {
    padding-bottom: 0;
}
.input_label{
  margin: 0;
  padding-top: 1rem;
}
.btn-blue-border, .btn-blue-border:hover {
    color: #5FCBEA;
    padding: 0.95rem 3rem;
    text-decoration: none;
    border: 1px solid #5FCBEA;
    border-radius: 5rem;
    font-size: 1.3rem;
}
.textbox-padleft {
  padding-left: 5rem;
}
.form-text-padding {
  padding-top: 1.5rem!important;
  padding-bottom: 1.5rem!important;
}
.form-textbox-padding {
  padding-left: 2rem;
}
.form-textbox-padding .select-ct-1 {
  padding-bottom: 1rem;
}
.form-textbox-padding .radio-pad-top  {
  padding-top: 1.5rem;
}
.form-textbox-padding .radio {
  cursor: pointer;
}
.form-textbox-padding .form-space {
  padding-bottom: 3rem!important;
}
.form-check-label {
  font-weight: 400;
}
section label {
  font-weight: 500;
}
label.title-green {
  padding-bottom: 0rem!important;
}
.form-group.col-md-12.section-popup h5 {
  line-height: 0.1;
}
.text-pad-bot {
  padding-bottom: 2rem;
}
.form-row.scroll-width {
  width: 88.5%;
}
.section-popup .title-green {
  color: #16A600;
}
.section-popup .title-danger {
  color: #E33D3D;
}
label.title-danger {
  padding-left: 0.5rem;
}
.header-popup
{
    color: #E33D3D;
    position: static;
    padding: 1rem 1rem;
}
.section-popup-error {
  border: 0.1rem solid #707070;
}
.content-scroll{
  position: relative;
  width: 56rem;
  height: 15rem;
  padding: 0.8rem 1rem;
  overflow-y: scroll;
  display: table-caption;
}​
.scroll-width {
  width: 94.4%;
}
.buttons-right {
  padding-left: 22rem!important;
}
.text-end {
  text-align: right;
  padding-top: 0.5rem;
  font-size: 1.5rem;
}
.custom_val, #send_sms_with_csv{
  display: none;
}
a.dropdown-item {
  font-size: 1.4rem;
}
/* Bug fixes */
#missing_template_variables {
  padding-top: 10px;
  margin: 0;
  list-style: none;
}
#missing_template_variables li::before {
  content: "\2022";
  color: #E33D3D;
  font-weight: bold;
  display: inline-block;
  width: 0.6em;
  margin-left: -1.3em;
  font-size: 30px;
  height: 1em;
  top: 6px;
  position: relative;
}
#send_sms_data .form-group.col-md-6.section-popup {
  padding-top: 10px;
}
.reports_btns{
  display: flex;
}
.col-md.pagination_row {
  display: flex;
  justify-content: flex-end;
}
.mt-pagination nav{
  margin-left: 30px;
}
.mt-select select.custom-select{
  width: auto;
  padding: 1rem 4rem 1rem 2rem !important;
}

/*
.pagination .page-item:last-child .page-link {
  border-right: none;
}
.pagination .page-item:first-child .page-link {
  border-left: none;
}*/

.page-item.disabled {
    display: none;
}
.modal-body {
  padding-left: 3.5rem !important;
}
.tox .tox-dialog__body-content {
  padding: 1.5rem 3rem !important;
}
.form-row.user_app_access .form-group {
  flex: 0 0 45%;
  padding-bottom: 2rem;
}
/* Bug Fixes */


ul.pagination li:not(.show-mobile) {
    display: none;
}


@media (max-width: 991px){
.send_message {
    padding-left: 15px;
    padding-right: 15px;
}
.attachFileSpan {
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
}
}
@media screen and (min-width:100px) and (max-width:480px){
.send_message .hide_mob{
  display: none;
}
}

#schedule_sms .form-row, #schedule_sms_131 .form-row{
margin:0 -15px;
}
#schedule_sms .modal-body .form-group, #schedule_sms_131 .modal-body .form-group{
  padding: 15px;
}
@media screen and (min-width:360px) and (max-width:640px){
a.btn.btn-link.btn-blue-outline {
  margin-top: 1rem;
  margin-left: -1.7rem;
}
.form-group.left-pad, .left-pad {
  padding-left: 0rem;
}
.btn.btn-blue-fill {
  margin-bottom: 0.7rem;
}
.form-group.right-pad, .right-pad {
  padding-right: 3.5rem;
}
.select-ct-2 {
  margin-left: 1rem;
}
.btn-blue-fill, .btn:hover.btn-blue-fill, .tox button.tox-button, .tox button:hover.tox-button {
    margin-top: 1rem;
}
.template .tox .tox-tbtn, .template .tox button:hover.tox-tbtn {
   height: 80%;
}
}
@media screen and (min-width:1000px) and (max-width:1400px){
  .attachFileSpan {
    padding: 1.2rem 0.3rem 1.2rem 0.3rem;
  }
}
